body {
    background: #E8E5E9;
    font-size: 20px;
  }
  
  h1{
    font-size: 80px;
    color: #3F2638;
    text-align: center;
  }

  h2 {
      font-size: 20px;
      color: #3F2638;
      text-align: left;

  }
  
  h3{
    font-size: 27px;
    font-style: italic;
    color: #3F2638;
    text-align: center;
    padding-bottom: 20px;
  }

  p{
      font-size: 20px;
      color: #000000;
      text-align: left;
  }

/*  .nav-item{
    padding: 10px;
    background: #5191fd;
    font: Lato;
}*/

/* Giving our navbar some padding and a background color */


#container-p{
  padding:10px;
  font: Lato;
  color:#3F2638;
  text-align: right;
}