body {
    background: #E9EFF2;
    font-size: 20px;
    color: #1D2F40;
  }
  
  h1{
    font-size: 80px;
    color: #426A8C;
    text-align: center
  }

  h2 {
      font-size: 50px;
      font-style: bold;
      color: #593C39;

  }
  
  h3{
    font-size: 20px;
    font-style: italic;
    color: #593c39;
    text-align: center
  }

  p{
      font-size: 20px;
      color: #1D2F40;
      text-align: center
  }
  .center-align{
      text-align: center;
  }